.gameContainer{
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
    width: 600px;
    height: 300px;
    background-color: #ECDBBA;
    border: 2px solid black;
}

.insider{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.insider p{
    width: 400px;
    margin: 0;
    font-size: 22px;
    font-weight: 800;
}

.exitContainer{
    display: flex;
    width:120px;
    justify-content: flex-end;
}

.Button{
    display: flex;
    flex-direction: row;
    font-size:xx-large;
    background-color: rgba(52, 103, 81, 0);
    cursor: pointer;
    border: none;
    color:#161616;
}

.FinalStatement{
    width: 100%;
    color: #161616;
    font-size: 40px;
}

.newGame{
    width:100%;
    display: flex;
    justify-content: center;
}

.newGame button{
    width:60%;
    height: auto;
    padding: 6px 12px;
    font-size: 20px;
    background-color: #161616;
    cursor: pointer;
    color:#ECDBBA;
}

.newGame button:hover{
    background-color: #346751;
}
