.playerContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.inputContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 20px;
}

.input{
    height: 50px;
    width: 400px;
    font-size:xx-large;
    text-align:start;
}

.button{
    width:120px;
    height: auto;
    padding: 6px 12px;
    font-size: 20px;
    background-color: #161616;
    cursor: pointer;
    color:#ECDBBA;
 
}

.oponentsContainer{
    margin-top: 20px;
    width: 100%;
    border: 2px solid black;
}

.oponentsContainer div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.oponent{
    color: #161616;
    font-size: 60px;
    margin:0;
}